#root {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

img{
    margin: 1rem;
    border: 1px solid gray;
    height: 295px;
    width: auto;
}

ul {
    list-style: none;
}

p {
    max-width: 200px;
    overflow: hidden;
    margin-left: 40px;
}

hr {
    width: 200px;
    margin-inline-start: 0;
}

@media screen and (min-width: 600px) {
    img {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    img {
        flex: 1 1 calc(33% - 2rem);
    }
}
