p {
    max-width: 250px;
    overflow: hidden;
    margin: 0 0 0 60px;
}

h3 {
    font-weight: 100;
    margin-left: 20px;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

img {
    margin: 1rem;
    border: 1px solid gray;
    height: 380px;
    width: auto;
}

hr {
    width: 250px;
    margin-inline-start: 0;
}

@media screen and (min-width: 600px) {
    img {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    img {
        flex: 1 1 calc(33% - 2rem);
    }
}
